<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Blogs</h1>
    <p class="lead blog-description">Find your interesting topics.</p>
    <div class="center">
      <p><%= link_to 'New blog', new_blog_path %></p>
      <p><%= link_to 'Topics', topics_path %></p>
    </div>

  </div>
</div>
