<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Blogs</h1>
    <p class="lead blog-description">Find your interesting topics.</p>
    <div class="center">
      <%= link_to 'New blog', new_blog_path %> | 
      <%= link_to 'Topics', topics_path %>
    </div>
  </div>
</div>
