<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <b><%= link_to "View All Portfolio", portfolios_path %></b> / <a href="#">Back to top</a>
    </p>
    <p><%= copyright_generator %></p>
  </div>
</footer>
