<h1>About Me</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile_image_mm.jpg" , width: 350, alt: "prfofile image" %>
  </div>
  <div class="col-md-8">
    <p>Life:</p>
    <p>Professional:</p>
  </div>
</div>
